.about{
  width: 100%;
  
}
.about h2{
    text-align: center;
    font-size: 2em;
    color: #2E2E2E;
    margin-top: 10px;
    
}
.container-about{
    width: 90%;
    margin: 20px auto 10px auto;
    position: relative;
    height: 500px;
    overflow: hidden;

}
.item-about h4{
    font-size: 1.3em;
    color: #151515;
    margin: 0;
}
.item-about p{
    font-size: 1em;
    text-align: justify;
    margin: 0;
    line-height: 20px;
}
.item-about{
    height: 300px;
    position: absolute;
    width: 85%;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.7);
}
.item-about:nth-child(1){
    padding: 10px;
    top: 0;
    left: 0;
}
.item-about:nth-child(2){
    top: 40%;
    left: 15%;
}
.item-about:nth-child(2) img{
    max-width: 100%;
}
.fts-escritorio{
    display: none;
}

@media (min-width:768px){
    
.about h2{
    text-align: center;
    font-size: 2.5em;
    color: #2E2E2E;
    margin-top: 80px;
    
}
.container-about{
    width: 85%;
    margin: 25px auto;
    position: relative;
    height: 400px;
    overflow-x: hidden;

}
.item-about h4{
    font-size: 2em;
    color: #151515;
    margin: 0;
}
.item-about p{
    font-size: 1.3em;
    text-align: justify;
    margin: 0;
    line-height: 20px;
}
.item-about:nth-child(2) img{
    width: 100%;
    height: 400px;
    object-fit: contain;
    z-index: 2;
 
}
.item-about{
    height: 300px;
    position: absolute;
    width: auto;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.7);
}
.item-about:nth-child(1){
    padding: 10px;
    top: 15%;
    left: 0;
    padding: 20px 50px;
    width: 40%;
}
.item-about:nth-child(2){
    top: 0;
    left: 40%;
  
}
.fts-escritorio{
    display: block;
}
.fts-movil{
    display: none;
}
}