.galery{
    width: 100%;
}
.galery h2{
    text-align: center;
    color: #2E2E2E;
    font-size: 2em;
}
.container-galery{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    grid-template-areas: 'item1 item2'
                        'item5 item6'
                          'item3 item4'
                          'item7 item8';
    gap:12px;
    margin: auto;
    
}
.item-galery img{
    max-width: 100%;
}
.item-galery:nth-child(1){
    grid-area: item1;
}
.item-galery:nth-child(2){
    grid-area: item2;
}
.item-galery:nth-child(3){
    grid-area: item3;
}
.item-galery:nth-child(4){
    grid-area: item4;
}
.item-galery:nth-child(5){
    grid-area: item5;
}
.item-galery:nth-child(6){
    grid-area: item6;
}
.item-galery:nth-child(7){
    grid-area: item7;
}
.item-galery:nth-child(8){
    grid-area: item8;
}
@media (min-width:768px){
    .galery h2{
        text-align: center;
        color: #2E2E2E;
        font-size: 2.5em;
    }
    .container-galery{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        grid-template-areas: 'item1 item2 item3'
                            'item5 item6 item7'
                              'item4 item11 item12'
                              'item8 item9 item10'
                              ;
        gap:12px;
        margin: auto;
        
    }
    .item-galery img{
        max-width: 100%;
    }
    .item-galery:nth-child(1){
        grid-area: item1;
    }
    .item-galery:nth-child(2){
        grid-area: item2;
    }
    .item-galery:nth-child(3){
        grid-area: item3;
    }
    .item-galery:nth-child(4){
        grid-area: item4;
    }
    .item-galery:nth-child(5){
        grid-area: item5;
        
    }
    .item-galery:nth-child(6){
        grid-area: item6;
        
    }
    .item-galery:nth-child(7){
        grid-area: item7;
        
    }
    .item-galery:nth-child(8){
        grid-area: item8;
        
    }
    .item-galery:nth-child(9){
        grid-area: item9;
        
    }
    .item-galery:nth-child(10){
        grid-area: item10;
        
    }
    .item-galery:nth-child(11){
        grid-area: item11;
        
    }
    .item-galery:nth-child(12){
        grid-area: item12;
        
    }
}